{
    "tabWidth": 4,
    "useTabs": true,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "overrides": [
      {
        "files": "*.cfg",
        "options": {
          "parser": "cpp"
        }
      }
    ]
  }